spring:
  profiles:
    include:
      - infrastructure
      - domain
      - common
  datasource:
    url: jdbc:h2:mem:test;MODE=MySQL;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
      database-platform: org.hibernate.dialect.H2Dialect
      show-sql: true
      properties:
        hibernate:
          format_sql: true
  h2:
      console:
        enabled: true
  logging:
    level:
      org:
        hibernate:
          SQL: DEBUG