api:
  prefix: ${API_PREFIX:/api}

spring:
  profiles:
    include:
      - domain
      - common
      - infrastructure
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration

  logging:
    level:
      org:
        hibernate:
          SQL: DEBUG

springdoc:
  default-produces-media-type: application/json
  default-consumes-media-type: application/json
  swagger-ui:
    tags-sorter: alpha

jwt:
  secret: ${DEV_JWT_SECRET:secretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecret}

server:
  servlet:
    context-path: /api
  forward-headers-strategy: framework

logging:
  level:
    org.springframework.orm.jpa.JpaTransactionManager: INFO
    # HikariCP
    com.zaxxer: ERROR
    org.hibernate:
      SQL: INFO
      type.descriptor.sql.BasicBinder: INFO
    org.springframework.transaction: INFO
---
spring:
  config:
    activate:
      on-profile: test
server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true